/* root */

:root {
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  --ck-color-image-caption-background: hsl(0, 0%, 97%);
  --ck-color-image-caption-text: hsl(0, 0%, 20%);
  --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
  --ck-color-mention-text: hsl(341, 100%, 30%);
  --ck-color-table-caption-background: hsl(0, 0%, 97%);
  --ck-color-table-caption-text: hsl(0, 0%, 20%);
  --ck-highlight-marker-blue: hsl(201, 97%, 72%);
  --ck-highlight-marker-green: hsl(120, 93%, 68%);
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: hsl(112, 100%, 27%);
  --ck-highlight-pen-red: hsl(0, 85%, 49%);
  --ck-image-style-spacing: 1.5em;
  --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
  --ck-todo-list-checkmark-size: 16px;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --fa-style-family-brands: "Font Awesome 6 Brands";
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
  box-sizing: border-box;
  font-weight: var(--bs-body-font-weight);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  color: #000;
  font-family: "SIGText-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

/* root end */

.carousel-item {
  width: 100%;
  height: 710px;
  background: #000;
  color: white;
  position: relative;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel-item img {
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.about {
  width: 100%;
  height: auto;
  background-color: #e8f9ff;
  color: #000957;
  padding: 50px 20px;
}
.about .container {
  padding-top: 40px;
  text-align: center;
}
.about .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about .row .profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 576px) {
  .about {
    padding: 30px 10px;
  }

  .about .container {
    padding-top: 20px;
  }

  .about .row .profile-image {
    width: 100px;
    height: 100px;
  }
}

.featurette-divider {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  margin: 5rem 0;
  height: 1px;
}
.Product h2 {
  margin-bottom: 40px;
}
.card {
  font-weight: var(--bs-body-font-weight);
  text-align: center;
  color: #000;
  font-family: "SIGText-Regular", Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 350px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.5rem;
  border: 2px;
  overflow: hidden;
  margin-bottom: 30px;
}
.card img {
  width: 100% !important;
  display: block;
  height: auto;
}

.card .title-desc {
  letter-spacing: -0.05em;
  -webkit-font-smoothing: antialiased;
  margin: -20px 0 0 0;
  font-size: 1.7em;
  font-weight: 600;
  text-transform: none;
  padding: 30px 30px;
  height: 100%;
  width: 100%;
  line-height: 1.1em;
  transition: 0.5s ease;
}
.card a {
  outline: none !important;
  text-decoration: none;
  color: #bdbdbd;
}

footer {
  background-color: #09122c;
  color: #f7f7f7;
  padding: 20px;
  text-align: start;
}
footer p {
  margin: -3px 0;
}
footer img {
  width: 17px;
  height: 17px;
  object-fit: cover;
}

footer .contact-info {
  font-weight: lighter;
}
footer a {
  color: #4caf50;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
