html body {
  background-color: #f2f5f7;
}
nav {
  background-color: #fff;
}
.contact {
  margin-top: 90px;
}
.contact-info {
  margin-left: 260.469px;
  margin-bottom: 8px;
}
.email {
  line-height: 1.8;
}
.email img {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
.container-email {
  width: 80%;
  margin: 0 auto;
}
